<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="grey">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <img src="../../assets/tindioIcon-sm.png" class="icon">
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <img src="../../assets/tindioLogo-sm.png" class="logo">
    </ion-row>
    <ion-row  class="ion-justify-content-center">
      <ion-text color="light" >
        <h3 class="subtitle">Unlock The Full Experience</h3>
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <button ion-button round (click)="loginFB()" ion-button block class="facebook" icon-start>
        <ion-icon name="logo-facebook"></ion-icon>Signin in with Facebook
      </button>
    </ion-row> 
    <ion-row class="ion-justify-content-center">
        <button ion-button round (click)="loginGoogle()" ion-button block class="google" icon-start>
          <ion-icon name="logo-google"></ion-icon>Signin in with Google
        </button>
<!--twitter-->
    </ion-row>
  </ion-grid>
</ion-content>