.grey{
    --background: #3a415b;
}

button{
    border-radius: 25px;
    color: rgb(255, 255, 255)!important;
    font-size: 4.5vw;
    height: 50px;
    margin-top:10px;
    min-width: 70vw;
}
ion-icon{
        padding-right: 1vw;
}

.subtitle{
    font-size: 3.3vw;
}

.icon{
    margin-top: 17vh;
    width: 27vw;
}


.logo{
    margin-top: 6.5vh;
    margin-right: 1vw;
}


  /** facebook **/
 .facebook{
     background: #3f5c98; }
 /** google **/
.google{
    background: #dd4f3d;
}
  /** twitter **/
.twitter{
    background: #1DA1F2;
}