<ion-header>
  <ion-toolbar>
    <ion-title>
     Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Data to display after skeleton screen -->
<div>
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let product of products" >
                <img [src]="product.image.src" class="img">
                <ion-text> 
                    <h4 class="title">{{product.name}}</h4>
                    <!-- we could use currency pipe to remove .0 -->
                    <p class="price">{{product.price}} {{product.currency}} . <span>{{product.store_name}}</span></p></ion-text>
          </ion-col>
          <ion-infinite-scroll *ngIf="products.length !==0" threshold="100px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-row>
    </ion-grid>  
</div>

<!-- Skeleton screen -->
<div *ngIf="products.length ===0">
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let key of [0,0,0,0,0,0]" >
              <ion-thumbnail style="width: 100%; height:41vw; " >
                  <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
                    <ion-text> 
                    <h4 class="margin-top-3">  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></h4>
                      <p class="margin-top-3">  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>               
                    </ion-text>
          </ion-col>
          </ion-row>
      </ion-grid>
</div>

</ion-content>
