
/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
  ion-title{
    text-align: center;
  }
  .price{
    color:#3058ee;
    text-align: center;
    margin-top: 1vh;
    display: block;
    font-size: 3.3vw;
  }
  .price span{
    color: #B8BFD3;
    text-transform: uppercase;
  }
  .title{
    color:#1C1E23;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 1vh;

  }
  .img{
    width: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.margin-top-3{ margin-top: 3vw;}